html{
    height: 100%;
}
 body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
     background-color: white;
     font-family: 'PT Sans', sans-serif;
}
header {
    flex: 0 0 auto;
    z-index: 0;
    width: 100%;
    height: 292px;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: lightgray;

}
.main_content{
    flex: 1 0 auto;
}
.container {
    position:relative ;
    width: 100%;
    max-width: 980px;
    margin: 65px auto;
    display: flex;
    justify-content: space-between;
}
.phone{
    text-align: right;
    color: gray;
    font-size: 40px;

}
.nav{

    top: 0;
    color: gray;
    width: 100%;
    margin: 0 auto;
    height: 82px;
    background-color: grey;
}
.nav {
    display: table;
}
.nav-menu{

    width: 100%;
    max-width: 980px;
    margin: 20px auto;
    text-align: center;


}
nav ul li{
   font-size: 28px;
    color: white;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
}

.nav_link {
    text-decoration: none;
    color: white;
    font-size: 26px;
    transition: all 0.4s ease-in-out;
}
.nav_link{
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 26px;
    transition: text-indent 0.4s ease-in-out;
}
.nav_link:hover{
    border-bottom: solid 3px white;
}
.intro{

    flex: 1 0 auto;
    width: 100%;
    height: 500px;
    background: url("slide 4.png");
    margin: 0 auto;

}
.slider{

    padding: 0 40px;
}
.mySlides{
    margin: 0 auto;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin-top: 120px;
    z-index: 100;
    font-size: 0;
}
.slider .slick-arrow.slick-prev{
    width: 34px;
    height: 61px;
    left: 0;
    background: url("prev.png");
}
.slider .slick-arrow.slick-next{
    width: 34px;
    height: 61px;
    background: url("next.png");
    right: 0;
}
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
.content{
    position: relative;
    z-index: 0;
    line-height: 22px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.product_navigation{
    line-height: 22px;
    color: grey;
    padding-bottom: 22px;
    padding-left:33px;
    padding-right:52px;
    margin-top: 20px;
    width: 265px;

}

.products{
    flex: 2;
    line-height: 22px;
    color: grey;
}
.catalog{
    width: 100%;

}
.content_product{
display: flex;
    flex-direction: column;
}
.content_product a{

    text-decoration: none;
    color: grey;
}
footer{
    color: white;
    display: flex;
    bottom: 0;
    left: 0;
    flex: 0 0 auto;
    width: 100%;
    height: 220px;
    margin: 0px auto;
    background-color: grey;
}
.c{
    margin-left: 20%;
    margin-top: 50px;
}
.footer_list{
    color: white;
    margin-left: 10%;
    margin-top: 50px;
}
.footer_list ul {

    line-height: 22px;
    list-style: none;
}
.footer_list a{
    color: white;
}
.footer_about{
    display: flex;
    margin-left: 20%;
    margin-top: 50px;

}

.myslider{

    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.slider-item{
    width: 100%;
    position: relative;
    z-index: 0;
    height: 500px;
    text-align: center;
    margin: 0  auto;
}
.slick-prev:before {
    color: red !important;
    background-color: #eee;
}
.slick-next:before {

    color: red !important;
    background-color: #eee;
}
/* The Modal (background) */
.modal {

    font-size: 14px;
    margin: 0 auto;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    position: relative;
    z-index: 100;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 467px;
    height: 579px;/* Could be more or less, depending on screen size */
    background: white;

}



/* The Close Button */
.close {
    margin-top: -15px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {

    color: black;
    text-decoration: none;
    cursor: pointer;
}
#myBtn{
    font-weight: bold;
    border-bottom: 2px dashed;
    background: none;

    margin-left: 10px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
#myBtn:hover{
    color: #FFA849
}
.container_modal{
    display: flex;
    justify-content: center;

}
.input_data{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 340px;
    height: 41px;
}
.massege{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 141px;
}
.send{
    padding: 8px 10px;
    text-align: center;
    background: grey;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.breadcrumbs{
    margin-left: 320px;
}
.left_menu{
    color: grey;
    font-size: 18px;
}
.product_list{
    display: none
}
.name:hover{
    font-weight: bold;
    border-bottom:solid 1px;
}
.product_list li a:hover{
    font-weight: bold;
    border-bottom:solid 1px;
}
.left_menu:hover > .product_list{
    height: auto;
    display: block;
}
.price_list{
    margin-top: 60px;
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding-bottom: 20px;
}
.products a{
    text-decoration: none;
    color: grey;
 }
.product{
    margin-top: 20px;
    width: 250px;
    background: url("product_background.png");
    padding-top: 20px;

}
.product_img{
    text-align: center;
}
.product_name{
    font-size: 18px;
    padding-left: 20px;
}
.buy_sell{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.trash{

    text-align: right;
    padding-right: 20px;
}
.price{
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
}
.pages{
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
    border-bottom: solid 2px grey;
}
.pages a{
    text-decoration: none;
    color: grey;
    font-size: 18px;
}

.pages li{
    padding-left: 20px;
    color: grey;
    display: inline;
}
.info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.left_info{
    text-align: left;
    width: 391px;
 }
.right_info{
    text-align: left;
    width: 390px;
}